name: Deploy Hugo site to GitHub Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Hugo
        run: |
          wget https://github.com/gohugoio/hugo/releases/download/v0.153.1/hugo_extended_0.153.1_Linux-64bit.tar.gz
          tar -xzf hugo_extended_0.153.1_Linux-64bit.tar.gz
          sudo mv hugo /usr/local/bin/

      - name: Build
        run: ./hugo --minify

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./public

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
